
@import "tailwindcss";

@font-face {
  font-family: EduAUVICWANTArrows;
  src: url('@/assets/fonts/GloriaHallelujah-Regular.ttf');
}
@font-face {
  font-family: Poppins;
  src: url('@/assets/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: Tektur-Regular;
  src: url('@/assets/fonts/Tektur-Regular.ttf');
}
@font-face {
  font-family: Oswald-Regular;
  src: url('@/assets/fonts/Oswald-Light.ttf');
}
@font-face {
  font-family: Dosis-Medium;
  src: url('@/assets/fonts/Dosis-Medium.ttf');
}






*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
body {
  height: 100vh;
  width: 100%;
  color: black;
  background: white;
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
}

@layer components {
  .active-link span{
    @apply text-amber-700;
}
}