
@import "tailwindcss";

@font-face {
  font-family: EduAUVICWANTArrows;
  src: url('@/assets/fonts/GloriaHallelujah-Regular.ttf');
}
@font-face {
  font-family: Poppins;
  src: url('@/assets/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: Tektur-Regular;
  src: url('@/assets/fonts/Tektur-Regular.ttf');
}
@font-face {
  font-family: Oswald-Regular;
  src: url('@/assets/fonts/Oswald-Light.ttf');
}
@font-face {
  font-family: Dosis-Medium;
  src: url('@/assets/fonts/Dosis-Medium.ttf');
}






*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}
body {
  min-height: 100vh;
  width: 100%; 
  color: black; 
  background: white; 
  font-family: 'Poppins', sans-serif; 
  font-size: 13px; 
  min-width: 100vw;
}


/* @layer components {
  hr {
    @apply bg-amber-500 h-[1px] border-0;
  }
} */
@layer base {
  h2{
    @apply font-bold text-xl font-[EduAUVICWANTArrows]
  }
  hr {
    @apply bg-amber-500 h-[1px] border-0;
  }
  input[type="checkbox"]{
    @apply border-[#e8e8e8] h-[12px] accent-pink-500 cursor-pointer field-sizing-content;
  }
  .btn{
    @apply bg-amber-600 text-white px-2 py-1 text-[11px] rounded-md hover:bg-amber-400 hover:text-slate-700
  }
  textarea {
    @apply p-3 h-24 w-full rounded-md border border-[#e8e8e8] text-black text-xs focus:outline-none focus:ring-0 focus:border-slate-300 placeholder:text-zinc-300 read-only:bg-gray-100;
  }
  input[type='text'],
  input[type='password'],
  input[type='search'],
  input[type='number'],
  input[type='email'] {
    @apply w-full px-3 h-9 rounded-md border border-slate-300 text-black text-xs placeholder:text-zinc-300 focus:outline-none focus:ring-0;
  }
  
  input[type='text']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  input[type='number']:focus,
  input[type='email']:focus,select:focus {
    @apply border-orange-300; 
  }
  textarea:focus,
  [type='text']:focus {
    @apply border-orange-300; 
  }
   button[type="submit"] {
    @apply h-8 px-2 py-1 bg-pink-600 text-white rounded flex items-center justify-center gap-2 focus:outline-none focus:ring-0 disabled:opacity-50 hover:opacity-90;
  }
  .error-message {
    @apply text-rose-600 text-[11px];
  }
}